div{
    margin-top: 100px;
}
.red{
    background-color: red;
}
.yashil{
    background-color: green;
}
.qizil{
background-color: maroon;
}
.kok{
background-color: blue;
}.sariq{
background-color: yellow;
}